body {
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: #FDF7F0;
}

header {
    width: 100%;
    background-color: #FDF7F0;
    height: 40px;
}

header ul {
    list-style-type: none;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    gap: 5vw;
}

header li {
    display: inline-block;
    line-height: 40px;
    color: #4C515A;
}

#this {
    color: #AC324B;
}

#introduce {
    background-color: #EDDCD7;
    width: 100%;
    height: 380px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#picture {
    background-color: white;
    border-radius: 50%;
    width: 230px;
    height: 230px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 15px #4c515a4e;
}

#picture img {
    border-radius: 50%;
    width: 210px;
    height: 210px;
}

#explain {
    margin-left: 5vw;
    font-size: larger;
}

a {
    color: #4C515A;
    text-decoration: none;
}

#info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5vw;
}

#info div {
    margin: 30px 0px;
    display: flex;
    background-color: #EDDCD7;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    box-shadow: 1px 1px 3px #4c515a4e;
}

hr {
    background: #EDDCD7;
    height:1px;
    border:0;
    margin: 0px;
}

#cover, #original, #archive {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#utattemita, #origog, #acaive, #item {
    display: inline-block;
    margin-left: 3vw;
    margin-top: 30px;
    font-size: larger;
}

.fi {
    position: relative;
    top: 2px;
}

#cover div, #original div, #archive div{
    margin-top: 10px;
    border: 1px solid #D3D4DF;
    background-color: white;
    width: 260px;
    height: 180px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#cover img, #original img, #archive img {
    border-radius: 15px;
    margin: 10px auto;
    margin-bottom: 3px;
    width: 240px;
    height: 140px;
}
#cover p, #original p, #archive p {
    margin: 0px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 240px;
}

#logo {
    width: 300px;
    display: block;
    margin-left: 3vw;
    margin-top: 10px;
}

footer {
    margin-top: 10px;
    width: 100%;
    height: 150px;
    background-color: #EDDCD7;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#youtube {
    width: 100px;
    height: 70px;
}

footer div img {
    width: 70px;
    height: 70px;
}

footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 775px) {
    #introduce {
        height: 550px;
        display: flex;
        justify-content: center;
    }

    footer div img {
        width: 50px;
        height: 50px;
    }

    #youtube {
        width: 80px;
        height: 50px;
    }
}